{% extends 'bootstrap/base.html' %}
{% block content %}

    
    <div class= 'container'>
    {% block page_content %}

    <h1>Welcome to our project API !</h1>
        <p class="text-justify">Our dataset contains more than 500.000 songs, with 90 features representing timbres as real numbers.</p>
        <p class="text-justify">The target is the release year of the song, between 1922 and 2011</p>
        <p class="text-justify">You will be invited to enter some values in order to use our model...</p>
        <div>
            <a href="prediction"><button class="btn btn-link">Access form</button></a>
        </div>
        
    {% endblock %}
    </div>
{% endblock %}